* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 16px;
}
body {
    font-family: 'Work Sans', sans-serif;
}
:root{
    --color-primary: #ef233c;
    --background-blur-primary: #ef233b67;
    --background-blur_secundary: #ef233b18;
}
.portada {
	width: 100%;
	background: white;

	min-height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;	

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: .5s ease-out all;
}
.title_portada{
	text-transform: uppercase;
	color: var(--color-primary);
}
/* oculta la portada cuando finaliza el tiempo */
.portada.oculta {
	transform: translateY(100%);
}
.header .icon_time{
	width: 70%;
}

/* ? ----- MAIN ----- */
main {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28px;
}

/* ? ----- Cuenta Regresiva ----- */
#cuenta {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
	flex-wrap: wrap;
}

.simply-section {
	background: var(--background-blur_secundary);
	width: 150px;
	height: 150px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.simply-amount {
	display: block;
	font-size: 45px;
	font-weight: 700;
}

.simply-word {
	font-weight: 300;
	font-size: 25px;
}

/* ? ----- REDES SOCIALES ----- */
.redes-sociales{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.btn-red-social{
	text-decoration: none;
	font-size: 50px;
	margin: 10px 20px;
	color: black;
}
.redes-sociales .btn-red-social i{
	transition: .3s ease-out all;
}
.redes-sociales .btn-red-social:hover i {
	color: var(--color-primary);
	transform: translateY(-5px);
}